.fraction {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 5px;
}

.fraction::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin: 2px 0;
    background-color: var(--g0);
    grid-row: 2 / 3;
}

.fraction > input {
    background-color: none;
    width: 3ch;
    border-radius: 0;
    border: 1px solid var(--g0);
}

.fraction > input[readonly] {
    border: none;
}