.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 50px;
    padding: 50px 0;
    min-height: 50vh;
}

.gallery > .activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 1;
    justify-content: center;
    padding: 10%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--g1);
}

.activity > .fraction {
    order: 2;
}

.gallery > .associate, .gallery > .set {
    flex-direction: row;
    grid-column: span 2;
    position: relative;
}

.associate > section {
    display: flex;
    min-height: 70%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    gap: 10px;
}

.input {
    background-color: var(--a1);
    border-radius: 10px;
    margin: 50px 0;
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

.input > *:not(:first-child):not(:last-child) {
    display: flex;
    align-items: center;
    min-height: 20px;
}

.input > label::after {
    content: ":";
}

.input > :first-child {
    grid-column: 1/7;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #fff;
    background-color: var(--a2);
    width: fit-content;
    padding: 2px 10px;
    border-radius: 5px;
}

.input > :last-child {
    grid-column: 1/7;
    margin: 0 35%;
    font-size: 1.5em;
}

.input label {
    font-weight: bold;
}

#sequences .toolBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}