#menu {
    background-color: #fff;
    width: 90vw;
    height: calc(var(--x) * 5);
    min-height: max(5vh,5vw);
    padding: 0 5vw;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--g1);
    box-shadow: 0 -10px 12px #000;
}

#menu > nav {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

#menu > nav > a:hover, #menu > nav > a.active:hover {
    color: var(--a2);
}

#menu > nav > a.active {
    color: var(--g0);
    position: relative;
}

#menu > nav > a.active::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--g0);
}

#menu > nav > a.active:hover::after {
    background-color: var(--a2);
}

#check {
    display: flex;
    height: 50%;
    align-items: center;
    font-family: Courier;
    transform: scaleY(1.25);
    color: var(--g0);
    font-size: 2em;
}

#check > * {
    transform: scaleY(0.8);
    height: 0.8em;
    width: 1.2em;
    margin-top: 0.1em;
}

#check > svg > g {
    fill: var(--g0);
    stroke: none;
}