#menu {
    background-color: var(--g0);
    box-shadow: 0px 3px 5px var(--c5);
    width: 80vw;
    height: 15vh;
    padding: 0 5vw;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--c3);
    transition: all 0.3s ease-in;
}

#top-of-site-pixel-anchor {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 5vh;
    left: 0;
  }  

body.has-scrolled #menu {
    height: 10vh;
    padding: 0 10vw;
}

body.has-scrolled main {
    height: 90vh;
}

#menu.is-pinned {
    padding: 0 10vw;
}

#menu > nav {
    min-width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
}

#menu > nav > * {
    margin-left: 5%;
}

#menu > nav > a:hover, #menu > nav > a.active:hover {
    color: var(--c4);
}

#menu > nav > a.active {
    color: var(--c4);
    position: relative;
}

#menu > nav > a.active::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--a2);
    transition: all 300ms ease-in-out;
}

#menu > nav > a.active:hover::after {
    width: 100%;
    left: 0;
}

#check {
    display: flex;
    height: 50%;
    align-items: center;
    color: var(--g3);
    font-size: 2em;
    line-height: 0;
}

#check > svg {
    height: 0.8em;
    width: 1.2em;
}

#check > p {
    font-size: 100%;
    line-height: 1;
    padding-top: 0.2em;
    letter-spacing: 0.15ch;
    font-weight: 200;
    margin: 0;
}

#check > svg > g {
    fill: var(--c3);
    stroke: none;
}

#menu summary::marker {
    content: none;
}

#menu details {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

#menu details[open] > summary {
    border-radius: 5px 5px 0 0;
}

#menu details > *:not(summary) {
    width: calc(100% - 6px);
    border-radius: 0 0 5px 5px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 1px 2px #ddd;
    transform: scaleY(0) translateY(-0.5);
    transition: all 1s ease-in-out;
}

#menu details[open] > *:not(summary) {
    transform: scale(1), translateY(0);
    transition: all 1s ease-in-out;
}

#menu details > *:not(summary) > * {
    padding: 3px 0;
}

@media screen and (orientation: portrait) {

    #top-of-site-pixel-anchor {
        display: none;
    }

    #menu {
        width: 100vw;
        height: 10vh;
        box-shadow: none;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0 10vw;
    }

    body main, body.has-scrolled > main {
        height: 85vh;
        margin-top: 10vh;
    }

    #sandwich {
        display: block;
        position: fixed;
        width: 8vw;
        height: 0.6vh;
        background-color: var(--g3);
        right: 10vw;
        top: 4.7vh;
        border-radius: 0.3vh;
    }

    #sandwich::before,
    #sandwich::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-200%);
        background-color: inherit;
        border-radius: 0.3vh;
    }

    #sandwich::after {
        transform: translateY(200%);
    }

    #menu.opened #sandwich {
        transform: rotate(45deg);
    }

    #menu.opened #sandwich::before,
    #menu.opened #sandwich::after {
        transform: rotate(-90deg);
    }
    
    #menu > nav {
        width: 80vw;
        height: 90vh;
        position: fixed;
        padding: 5vh 10vw;
        top: 10vh;
        left: 0;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 3vh;
        backdrop-filter: blur(5px) brightness(0.15);
        animation: appear .5s ease-in-out forwards;
    }

    #menu > nav > a,
    #menu > nav > details {
        margin: 0;
        height: 4vh;
        width: calc(70% - 2ch - 4px);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: 2px solid var(--c4);
        color: var(--c4);
        border-radius: 5px;
        font-weight: 700;
        flex-basis: auto;
        padding: 0 1ch;
        transition: all 0.5s ease-in-out;
    }

    #menu > nav > details {
        background-color: var(--c4);
        color: #fff;
    }

    #menu > nav > a.active {
        width: calc(100% - 2ch - 4px);
    }

    #menu > nav > a.active::after {
        display: none;
    }

    #menu > nav > details > summary.button {
        height: 100%;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: var(--g0);
        background-color: transparent;
        font-weight: 700;
    }

    #menu.opened > nav {
        display: flex;
        animation: appear .5s ease-in-out backwards;
    }

    

}