#menu {
    background-color: var(--g0);
    box-shadow: 0px 3px 5px var(--c5);
    /* border-radius: 5px; */
    width: 80vw;
    height: 15vh;
    padding: 0 5vw;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--c3);
    transition: all 0.3s ease-in;
}

#top-of-site-pixel-anchor {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 5vh;
    left: 0;
  }  

body.has-scrolled #menu {
    height: 10vh;
    padding: 0 10vw;
}

body.has-scrolled main {
    height: 90vh;
}

#menu.is-pinned {
    padding: 0 10vw;
}

#menu > nav {
    min-width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
}

#menu > nav > * {
    margin-left: 5%;
}

#menu > nav > a:hover, #menu > nav > a.active:hover {
    color: var(--c4);
}

#menu > nav > a.active {
    color: var(--c4);
    position: relative;
}

#menu > nav > a.active::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--a2);
    transition: all 300ms ease-in-out;
}

#menu > nav > a.active:hover::after {
    width: 100%;
    left: 0;
}

#check {
    display: flex;
    height: 50%;
    align-items: center;
    color: var(--g3);
    font-size: 2em;
    line-height: 0;
}

#check > svg {
    height: 0.8em;
    width: 1.2em;
}

#check > p {
    font-size: 100%;
    line-height: 1;
    padding-top: 0.2em;
    letter-spacing: 0.15ch;
    font-weight: 200;
    margin: 0;
}

#check > svg > g {
    fill: var(--c3);
    stroke: none;
}

#menu summary::marker {
    content: none;
}

#menu details {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

#menu details[open] > summary {
    border-radius: 5px 5px 0 0;
}

#menu details > *:not(summary) {
    width: calc(100% - 6px);
    border-radius: 0 0 5px 5px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 1px 2px #ddd;
    transform: scaleY(0) translateY(-0.5);
    transition: all 1s ease-in-out;
}

#menu details[open] > *:not(summary) {
    transform: scale(1), translateY(0);
    transition: all 1s ease-in-out;
}

#menu details > *:not(summary) > * {
    padding: 3px 0;
}