:root {
    --x: calc(0.5vw + 0.5vh);
    --a1: #edc951;
    --a2: #eb6841;
    --a3: #cc333f;
    --b1: #6a4a3c;
    --c1: #00a0b0;
    --g0: #222222;
    --g1: #666666;
    --g2: #EEEEEE;
    --g3: #F7F7F7;
}

*, ::before, ::after {
    margin: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    border: none;
    color: inherit;
    font-family: 'Open Sans', sans-serif;
    z-index: inherit;
    font-size: inherit;
    transition: all 0.3s ease-in-out;
}

html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--g3);
    font-size: min(calc(var(--x) * 1.8), 16px);
}

main {
    background-color: #fff;
    color: var(--g0);
    width: calc(100vw - var(--x) * 20);
    padding: calc(var(--x) * 5) calc(var(--x) * 10);
    height: calc(100vh - var(--x) * 15);
    overflow-y: scroll;
}

img {
    background: url(../IMG/placeholder.jpeg);
    background-size: cover;
    background-position: center;
}

.hidden {
    visibility: hidden !important;
}

.no-display {
    display: none !important;
}

.clickable {
    cursor: pointer;
}