:root {
    --x: calc(0.5vw + 0.5vh);
    --a1: #edc951;
    --a2: #eb6841;
    --a3: #cc333f;
    --b1: #6a4a3c;
    --c1: #01303f;
    --c2: #02577a;
    --c3: #02a9f7;
    --c4: #89d6fb;
    --c5: #d4f0fc;
    --g0: #222222;
    --g1: #666666;
    --g2: #EEEEEE;
    --g3: #FAFAFA;
}

*, ::before, ::after {
    margin: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    border: none;
    color: inherit;
    font-family: inherit;
    z-index: inherit;
    font-size: inherit;
    transition: all 0.3s ease-in-out;
}

html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: var(--g3);
    font-family: 'Anybody', 'Open Sans', sans-serif;
}

main {
    color: var(--g0);
    width: 80vw;
    height: 80vh;
    padding: 0 10vw;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

img {
    background-size: cover;
    background-position: center;
}

.hidden {
    visibility: hidden !important;
}

.no-display {
    display: none !important;
}

.clickable {
    cursor: pointer;
}

footer {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--g1);
}

footer > p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1;
}

@media screen and (orientation: portrait) {

    main {
        width: 90vw;
        padding: 0 5vw;
    }

    body p {
        font-size: 13px;
    }

}

@media screen and (prefers-reduced-motion: reduce) {  
    * {
      /* Very short durations means JavaScript that relies on events still works */
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;
    }
  }
  